{% extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/cuero.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">100% Calidad</span>
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-3">Bienvenidos al mundo de Piel con Piel. En él encontrarás un sinfín de ideas y propuestas hechas a mano y creadas desde el corazón. Un bonito paseo donde encontrarás aquello que necesitas y que habías imaginado.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Todos nuestros productos son elaborados a mando. Todo el proceso lo lleva a cabo con mucho cariño una maestra artesana</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/llavero.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Regalo para bodas y bautizos</span>
            <span class="section-heading-lower">Un regalo único por solo 4€</span>
          </h2>
                  
        </div>
      </div>
    </div>
  </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Diseños personalizados
                  a tu medida</span>
                <span class="section-heading-lower">¿Tienes una idea, nosotros la hacemos realidad?</span>
              </h2>
              <p class="mb-0">Llevaremos a cabo las personalizaciones que se te ocurran para ti o para hacer un regalo único.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/llavero.jpg' %}" style = "width:50%;" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Regalo para bodas y bautizos</span>
            <span class="section-heading-lower">Un regalo único por solo 4€</span>
          </h2>
                  
        </div>
      </div>
    </div>
  </section>



{% endblock %}
    